@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

footer {
   position: absolute;
   bottom: 0px;
   width: 100%;
   text-align: center;
   font-family: 'Source Sans Pro', sans-serif;
   color: #eeeeee;
   display:table;
   vertical-align: middle;
   z-index: 40;
}

footer > * {
   display:table-cell;
   vertical-align: middle;
}

footer li {
   list-style: none;
}

a:not(.image) {
  color: #f8e047;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

a:not(.image):hover {
  color: #f3d7ac;
  text-shadow: none;
  border: none; }

.roll span:after {
  color: #fff;
  background: #d08a1d; }

.reveal .controls {
   bottom: 40px;
   right: 15px;
}

/**
 * Black theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #111111;
  background-color: #111111; }

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #E9EAEB;
  xcolor: #777;
}

::selection {
  color: white;
  background: #f8e047;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #E9EAEB;
  xcolor: #777;
  font-family: "Montserrat", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.03em;
  text-transform: none;
  text-shadow: none;
}

.reveal h1 {
  text-shadow: none;
}

.reveal h2 {
   font-size: 1.5em;
}

.reveal h3 {
  font-size: 1.2em;
}


/* #f8e047 */
/* #4f85c9 */
.reveal h1 em,
.reveal h2 em,
.reveal h3 em,
.reveal h4 em,
.reveal h5 em,
.reveal h6 em {
  text-shadow: none;
}


.reveal em {
   color: #4f85c9;
   font-style: normal;
   font-weight: bold;
}

.reveal span {
  color: #f8e047;
}


/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #f8e047;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: white;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #d08a1d; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #e7ad52;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #f8e047; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #f8e047; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #f8e047; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #e7ad52; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f3d7ac; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f3d7ac; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f3d7ac; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f3d7ac; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #f8e047;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }


.reveal ul > li.inline {
   display: inline;
   margin-right: -5px;
   margin-left: none;
}

.reveal footer {
   font-size: 0.8em;
   position:relative;
   bottom: -100px;
}

.reveal kbd {
   font-family: Inconsolata, monospace;
   background-color: rgba(200, 200, 200, 0.2);
   padding: 0 5px;
   border-radius: 5px;
}

.reveal a.nonfancy {
}

.reveal section.demo:before {
   content: '';
   color: #F84E48;
   font-family: Helvetica, sans-serif;
   font-weight: bolder;
   font-size: 4em;
}

.reveal section.demo.past:before,
.reveal section.past > section.demo:before {
   color: #4EF848;
}

.reveal section.demo .fragment.demo-fragment {
  color: #F84E48;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 4em;
  opacity: 1;
}


.reveal .slides section .fragment.hiding {
  opacity: 1;
}

.reveal .slides section .fragment.visible.hiding {
  opacity: 0;
  height: 0px;
  -webkit-transition: 0; /* improvements? */
}


.reveal section.demo .fragment.demo-fragment.visible {
  -webkit-transition: all 800ms ease-out;
  color: #4EF848;
}

#tipos_de_datos {
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
  -webkit-column-width:30em; /* Safari and Chrome */
  column-width:30em;
  -moz-column-gap:10em; /* Firefox */
  -webkit-column-gap:10em; /* Safari and Chrome */
  column-gap:10em;
}

.reveal code.small {
   font-size: 0.75em;
}

.reveal code.smaller {
  font-size: 0.9em;
}

pre {
    -moz-tab-size:    4;
    -webkit-tab-size: 4;
    -o-tab-size:      4;
    -ms-tab-size:     4;
    tab-size:         4;
}

.reveal pre code {
  max-height: 500px;
  overflow: visible;
}

.reveal section img{
  padding: 1em;
  background: none;
  border: none;
  box-shadow: none;
}
.reveal section .image-pack img{
  padding: 0.5rem;
  background: none;
  border: none;
  box-shadow: none;
}

.checklist li {
  list-style: none;
  line-height: 1.5em;
}

.reveal .tick {
  color: green;
  float: left;
  padding-right: 1em;
}

.reveal .cross {
  color: red;
  float: left;
  padding-right: 1em;
}

.reveal .guion {
  font-weight: bolder;
  color: yellow;
  float: left;
  padding-right: 1em;
}

.secondary-color {
   color: black !important;
   background-color:white;
}

.text-small {
  font-size: 20px !important;
  font-weight: 100 !important;
}

small {
  font-size: 25px !important;
  font-weight: bold !important;
}

.image-circle {
  border-radius: 50%;
  border-width: 10px;
  border-color: white;
}
